.fa {
    padding: 10px;
    font-size: 10px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;

  }
  
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  
  .fa-instagram {
    background: #af2e2e;
    color: white;
  }

  .fa-github {
    background: #000000;
    color: white;
  }
  .fa-envelope-o{
    background-color: #1a4fff;
    color: white;
  }
